<app-header titulo="Contactos"></app-header>
<ion-content>
    <!-- proteccion civil -->
    <ion-list>
        <ion-item>
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/CENAPRED.png"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Protección civil</h2>
                <p>0000-0000</p>
                <p>0000@mail.com</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- Alcaldía -->
    <ion-list>
        <ion-item>
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/izt.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Alcaldía</h2>
                <p>0000-0000</p>
                <p>0000@mail.com</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- SACMEX -->
    <ion-list>
        <ion-item>
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/sacmex.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>SACMEX</h2>
                <p>0000-0000</p>
                <p>0000@mail.com</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- CONAGUA -->
    <ion-list>
        <ion-item>
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/conagua.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>CONAGUA</h2>
                <p>0000-0000</p>
                <p>0000@mail.com</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>