<app-header titulo="Información"></app-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Nombre o Alias:</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Está dispuesto a compartir datos</ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-item>¿Qué espacios se han construido como nuevos en su vivienda?</ion-item>
        <ion-item>
            <ion-label>Cocina</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Recamara</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Baño</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sala</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Local comercial</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>

    </ion-list>

</ion-content>