<app-header titulo="Noticias"></app-header>

<ion-content>

    <ion-card>
        <ion-img src="../../../assets/img/noticia0.jpeg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Al menos 250 viviendas resultaron afectadas</ion-card-subtitle>
            <ion-card-title>Inundaciones en Iztapalapa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            La intensidad de la lluvia, que comenzó alrededor de las 18:37 horas y no cesó hasta las 22:00 de la noche, llevó a la Secretaría de Gestión Integral de Riesgos y Protección Civil del gobierno capitalino (SGIRPC_CDMX) a decretar en Iztapalapa la alerta
            máxima por lluvias, de color púrpura.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="../../../assets/img/noticia1.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Inicia el programa de mejoramiento en la colonia La Colmena</ion-card-subtitle>
            <ion-card-title>Mejoramiento de red hidráulica en Iztapalapa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            El Sistema de Aguas de la Ciudad de México (SACMEX) realiza una inversión de 3 mil 427.98 millones de pesos para garantizar el derecho al agua de calidad para los habitantes y mejorar la infraestructura hidráulica.
        </ion-card-content>
    </ion-card>





</ion-content>