<app-header titulo="Mapas colaborativos"></app-header>
<!-- CENAPRED -->
<ion-content>

    <ion-list>
        <ion-item href="http://www.atlasnacionalderiesgos.gob.mx/archivo/visor-capas.html">
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/CENAPRED.png"></ion-img>
            </ion-avatar>
            <ion-label>CENAPRED</ion-label>
        </ion-item>
    </ion-list>
    <!-- CDMX -->
    <ion-list>
        <ion-item href="http://www.atlas.cdmx.gob.mx/indicadores/">
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/CDMX.jpg"></ion-img>
            </ion-avatar>
            <ion-label>CDMX</ion-label>
        </ion-item>
    </ion-list>
    <!-- EDINBURG-UNIVERSITY -->
    <ion-list>
        <ion-item href="https://edinuniv.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=911354dfc19f4b0d8d550a98ce4914ba">
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/EDI.png"></ion-img>
            </ion-avatar>
            <ion-label>Mapa colaborativo Edimburgo</ion-label>
        </ion-item>
    </ion-list>
    <!-- IPN -->
    <ion-list>
        <ion-item href="https://www.google.com/maps/d/viewer?mid=1ohAidkwRbU9vBujpO5ScwyM5EVfyGUfx&ll=19.36814315107887%2C-98.99389067627128&z=15">
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/ipn.png"></ion-img>
            </ion-avatar>
            <ion-label>IPN GoogleCollaborativeMap</ion-label>
        </ion-item>
    </ion-list>
    <!-- QGIS -->
    <ion-list>
        <ion-item href="../../../assets/GIS/index.html">
            <ion-avatar slot="end">
                <ion-img src="../../../assets/icon/ESIA.png"></ion-img>
            </ion-avatar>
            <ion-label>IPN-GIS</ion-label>
        </ion-item>
    </ion-list>
</ion-content>