<app-header titulo="Reportes"></app-header>

<ion-content>

    <ion-list>
        <ion-item detail>
            <ion-icon name="home" class="ion-padding"></ion-icon>
            <ion-label>Daños en vivienda</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="map" class="ion-padding"></ion-icon>
            <ion-label>Daños en la colonia</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="stop-circle" class="ion-padding"></ion-icon>
            <ion-label>Drenaje pluvial: Coladera tapada</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="trash" class="ion-padding"></ion-icon>
            <ion-label>Acumulación de basura</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="water" class="ion-padding"></ion-icon>
            <ion-label>Sistema de drenaje insuficiente</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="rainy" class="ion-padding"></ion-icon>
            <ion-label>Concentración de agua de lluvia</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="beaker" class="ion-padding"></ion-icon>
            <ion-label>Desbordamiento de Vaso-regulador</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="location" class="ion-padding"></ion-icon>
            <ion-label>Zonas inundadas</ion-label>
        </ion-item>
        <ion-item href="http://lluvias.sacmex.cdmx.gob.mx/reporte/?fecha=2021-03-02">
            <ion-icon name="swap-horizontal" class="ion-padding"></ion-icon>
            <ion-label>Vialidad primaria afectada</ion-label>
        </ion-item>

        <ion-item href="https://data.sacmex.cdmx.gob.mx/aplicaciones/radar-meteorologico/">
            <ion-icon name="radio" class="ion-padding"></ion-icon>
            <ion-label>Radar SACMEX</ion-label>
        </ion-item>
    </ion-list>
</ion-content>